<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8"/>
        <title>LOGIN</title>
    </head>
    <body>
        <form action='/doLogin' method='POST'>
            <input type="test" name="utel"/>
            <input type="password" name="upass"/>
            <input type="submit" value="登陆"/>
        </form>

    </body>
    </html>
